@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/NotoSansJP-Thin.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/NotoSansJP-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/NotoSansJP-DemiLight.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSansJP-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/NotoSansJP-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/NotoSansJP-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/NotoSansJP-Black.otf');
  font-display: swap;
}

html {
  font-family: 'Noto Sans CJK JP', 'Noto Sans Japanese', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fafafa;
}

html, body {
  overflow-x: hidden;
}

* {
  font-size: 1.6rem;
  color: $text-basic;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 160px;
}
